.obj1 {
    background-color: Purple;
    height: 80px;
    width: 80px;
    display:inline-block;
}
.obj2 {
    background-color: red;
    height: 80px;
    width: 80px;
    display: inline-block;
    position: absolute;
    right:0%
}
.in1 {
    color: white;
}